:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    background: #F5F4FA;
    color: var(--primary-text-color);
    font-family: 'Roboto';
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
}

.first-part {
    color: #2196F3;
}

.last-part {
    color: #212121;
}

/*  Site nav */

.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc (16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
}

.site-nav-link:hover, .site-nav-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: calc (16 / 14);
    letter-spacing: 0.02em;
    color: #2196F3;
}

.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc (16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

.header-mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc (16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

.header-mail-link:hover {
    color: #2196F3
}

/* hero */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc (60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc (30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* details */

.details-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc (16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.details-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc (24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}

/* whatdo */

.whatdo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc (42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* team */

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc (42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc (19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */

.first-footer-logo {
    color: #2196F3;
}

.last-footer-logo {
    color:#FFFFFF;
}

.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO */

