:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto';
}

/*header*/

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}


address {
    font-style: normal;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.link {
    text-decoration: none;
}


.page-header {
    background-color: #FFFFFF;
    border-bottom: transparent;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.first-part {
    color: var(--accent-color);
}

.last-part {
    color: var(--title-text-color);
}

/*  Site nav */

.site-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav-link:hover, .site-nav-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.header-tel-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-mail-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-mail-link:hover {
    color: var(--accent-color);
}

/* hero */

.hero {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-button {
    padding: 10px 32px;
    min-width: 216px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
}

/* details */

.details {
    background-color: #F5F5F5;
}

.details-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.details-text {
    margin-top: 0px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* whatdo */

.whatdo {
    background-color: #F5F5F5;
}

.whatdo-title {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* team */

.team {
    background-color: #F5F4FA;
}

.team-title {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-img {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team-name {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-role {
    margin-top: 0px;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* footer */

.footer {
    background-color: #2F303A;
}

.first-footer-logo {
    color: var(--accent-color);
}

.last-footer-logo {
    color:#FFFFFF;
}

.footer-adress {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO */

.portfolio-button {
    margin: 0px 8px 50px 8px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.portfolio-button:hover, .portfolio-button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.portfolio-photo {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.portfolio-title {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-description {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.description-main {
    padding: 30px 70px 30px 70px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.portfolio-content {
    border: 1px solid #EEEEEE;
}

.portfolio-text {
    padding: 20px 24px 20px 24px;
}