.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__label {
  position: relative;
}

.checkbox__item {
  position: relative;
  top: 5px;
  bottom: 4px;
}
.checkbox__icon {
  width: 16px;
  height: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label .checkbox__icon.checked {
  display: none;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon {
  display: none;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon.checked {
  display: inline-block;
}
