.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.nav {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.site-nav {
  display: flex;
  margin-left: 87px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}

.site-nav__link {
  display: inline-block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
  }
  &--current::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.contacts {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
    margin-bottom: 0px;
  }
}
.contacts__item:hover,
.contacts__item:focus {
  color: var(--accent-color);
}
.contacts__envelope {
  fill: currentColor;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}
.contacts__phone {
  width: 10px;
  fill: currentColor;
  @media screen and (min-width: 768px) {
    height: 14px;
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    height: 16px;
    margin-right: 10px;
  }
}
