.header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.nav {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.menu-container {
  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 0;
    background-color: transparent;
  }
  @media screen and (min-width: 1200px) {
  }
}

.site-nav__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 306px;
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.site-nav__menu {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.site-nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  &:visited {
    color: var(--title-text-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
    &--current {
      color: var(--accent-color);
    }
    &--current::after {
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      right: 0;
      bottom: 0;
      background-color: #2196f3;
      border-radius: 2px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__item {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &:visited {
    color: var(--title-text-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
    margin-bottom: 0px;
  }
}

.contacts__item:last-child {
  &:last-child {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 64px;
    color: var(--primary-text-color);
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: calc(14 / 12);
      color: currentColor;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;
    }
  }
}
.contacts__item:hover,
.contacts__item:focus {
  color: var(--accent-color);
}
.contacts__envelope {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}
.contacts__phone {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
  @media screen and (min-width: 1200px) {
    height: 16px;
    margin-right: 10px;
  }
}
