.logo {
  font-family: "Raleway";
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.nav__logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer-nav-container__logo {
  padding-top: 0px;
  padding-bottom: 20px;
}

.logo__main-part {
  color: var(--accent-color);
}

.logo__second-part--dark {
  color: var(--title-text-color);
}

.logo__second-part--light {
  color: #ffffff;
}
