.menu-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(120%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;

  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--activity-color);
}

.mobile__list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 22px;
  color: var(--activity-color);
}

.mobile__link:not(:last-child) {
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  font-size: 18px;
}
.mobile__link {
  padding: 0 10px;
}
/*.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--accent-color);
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu-toggle {
  color: #212121;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.menu-toggle-icon {
  fill: #212121;
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
  fill: #212121;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
}

.site-nav__socials {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-social {
  margin-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);

  &:visited {
    color: var(--accent-color);
  }
}

.social-insta {
  border-left: none;
}
*/
