.menu-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(120%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;

  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--accent-color);
}

.mobile__list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 22px;
}

.mobile__list-link {
  text-decoration: none;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile__link:not(:last-child) {
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  font-size: 18px;
}
.mobile__link {
  padding: 0;
  padding-right: 10px;
  margin-right: 10px;
  &:last-child {
    padding-right: 0;
    margin-right: 0;
  }
}

.site-nav__socials {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-social {
  margin-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);

  &:visited {
    color: var(--accent-color);
  }
}

.mobile-menu__list {
  margin-bottom: 32px;
  list-style: none;
}

.mobile-menu__link {
  text-decoration: none;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__contacts {
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
}
.link__tell {
  text-decoration: none;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.link__mail {
  text-decoration: none;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
