.portfolio {
  @extend %section;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.portfolio__item {
  margin-bottom: 15px;
  margin-right: 8px;
  &:last-child {
    margin-right: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
